/* Add your global styles here */

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  padding: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h1 {
  font-size: 1.5rem;
  text-align: left;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #919193;
  color: #4285f4;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: rgb(19 21 23 / 64%);
  background-color: rgba(244, 247, 249, 0.926);
  line-height: 1;
  margin: -4px 0;
  padding: 4px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.google-button:hover {
  background-color: #d3cbcb;
}

.text-signin {
  padding-bottom: 20px;
}

svg {
  width: 16px;
}

/* Add your media queries or additional styles as needed */
